<!--  Exercise 2: Create markdown cell with title of the notebook -->
# Data Science Tools and Ecosystem

<!-- Exercise 3 - Create a markdown cell for an introduction -->
In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4.Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib
5. Seaborn

<!-- Creating a Table -->
| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| Anaconda Navigator |
| MySQL |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60, and show upto 2 decimal point
round(200/60, 2)

3.33

**Objectives**\
In this course, we learned the followings:
- Python
- Pandas
- R
- Matplotlib
- Github

## Author
Israt Jahan